@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
}

.bg{
    background: url(../img/boat-group-album-pink-floyd-wallpaper-29c008ad818abd6bc6d748df903136dd.jpg) no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(30px);
    
}

.loading-text{
    color: firebrick;
    font-size: 30px;
}

.repeat{
    position: absolute;
    top: 10px;
    left: 10px;
}